<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">
    <select id="login" parameterType="java.lang.String" resultType="user">
        SELECT *
        FROM db_exam.user
        WHERE username = #{username}
    </select>

    <insert id="create" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db_exam.user (
            username,
            password,
            role
        )
        VALUES (
            #{username},
            #{password},
            #{role}
        );
    </insert>
</mapper>